[global]
type=global
user_agent=TeamoraVoice-Asterisk
endpoint_identifier_order=ip,username

[transport-provider]
type=transport
protocol=${SIP_PROVIDER_TRANSPORT}
bind=0.0.0.0:${SIP_LOCAL_PORT}
external_signaling_address=${ASTERISK_EXTERNAL_SIGNALING_ADDRESS}
external_media_address=${ASTERISK_EXTERNAL_MEDIA_ADDRESS}
local_net=${ASTERISK_LOCAL_NET}

[transport-webrtc]
type=transport
protocol=ws
bind=0.0.0.0
external_signaling_address=${ASTERISK_EXTERNAL_SIGNALING_ADDRESS}
external_media_address=${ASTERISK_EXTERNAL_MEDIA_ADDRESS}
local_net=${ASTERISK_LOCAL_NET}

${SIP_AUTH_SECTION}

[provider-aor]
type=aor
contact=sip:${SIP_PROVIDER_HOST}:${SIP_PROVIDER_PORT}
qualify_frequency=60
max_contacts=1

[provider-endpoint]
type=endpoint
transport=transport-provider
context=teamora-inbound
disallow=all
allow=${SIP_CODECS}
aors=provider-aor
${SIP_ENDPOINT_AUTH_LINES}
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
dtmf_mode=${SIP_DTMF_MODE}
media_use_received_transport=yes
timers=yes

[provider-identify]
type=identify
endpoint=provider-endpoint
${SIP_IDENTIFY_MATCHES}

${SIP_REGISTRATION_SECTION}
