[global]
type=global
user_agent=TeamoraVoice-Asterisk
endpoint_identifier_order=ip,username,anonymous

[transport-provider]
type=transport
protocol=${SIP_PROVIDER_TRANSPORT}
bind=0.0.0.0:${SIP_PROVIDER_PORT}
external_signaling_address=${ASTERISK_PUBLIC_ADDRESS}
external_media_address=${ASTERISK_PUBLIC_ADDRESS}
local_net=${ASTERISK_LOCAL_NET}

[provider-auth]
type=auth
auth_type=userpass
username=${SIP_AUTH_USERNAME}
password=${SIP_AUTH_PASSWORD}

[provider-aor]
type=aor
contact=sip:${SIP_PROVIDER_HOST}:${SIP_PROVIDER_PORT}
qualify_frequency=60
max_contacts=1

[provider-endpoint]
type=endpoint
transport=transport-provider
context=teamora-inbound
disallow=all
allow=ulaw,alaw
aors=provider-aor
outbound_auth=provider-auth
from_user=${SIP_AUTH_USERNAME}
from_domain=${SIP_PROVIDER_HOST}
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes

[provider-identify]
type=identify
endpoint=provider-endpoint
match=${SIP_ALLOWED_IPS}

[provider-registration]
type=registration
transport=transport-provider
outbound_auth=provider-auth
server_uri=sip:${SIP_PROVIDER_HOST}:${SIP_PROVIDER_PORT}
client_uri=sip:${SIP_AUTH_USERNAME}@${SIP_PROVIDER_HOST}
contact_user=${SIP_DID}
retry_interval=60
forbidden_retry_interval=600
max_retries=10
